/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

nav {
  width: 100%;
  height: 100px;
  background-color:lightblue;
}
nav p {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 48px;
  line-height: 88px;
  float: left;
  padding: 0px 20px;
}
nav ul {
  float: left;
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
}
nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 24px;  
  text-decoration: none;
  padding: 38px 20px;
}
nav ul li a:hover {
  background-color:brown;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color:lightgray;
  border-radius: 4px;
  padding: 20px;
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: 100px;
  border-radius: 4px;
  padding: 0;
}
nav ul li ul li a {
  padding: 15px 14px;
}
nav ul li ul li a:hover{
  background-color: brown;
}
.services
{
    width: 1510px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/service.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 0 30px 0;
    border-radius: 2px;
}
.about-us
{
    
    float: left;
    margin: 30px 0 0 0;
    
}
.about-us a
{
    text-decoration: none;
    display: block;
    color: #B3B6B7;
    opacity: 1;
    padding: 5px 0 0 50px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.about-us a:hover
{
    cursor: pointer;
    color: #5DADE2;
}
.team-members
{
   
    float: left;
    margin: 10px 0 0 270px;
}
.team-members a
{
    text-decoration: none;
    display: block;
    color: #B3B6B7;
    
    padding: 5px 0 0 50px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.team-members h3
{
    color: #F4F6F7;
    padding: 0 0 0 50px;   
    font-size: 25px;
    letter-spacing: 1px;
}
.team-members a:hover
{
     cursor: pointer;
    color: #5DADE2;
}

.follow-us
{
   
    float: left;
    
    height: 200px;
    width: 400px;
    margin: 30px 0 0 270px;
}
.follow-us h3
{
    color: #F4F6F7;
     padding: 0 0 0 50px;   
    font-size: 25px;
    letter-spacing: 1px;
}
.follow-us .fa
{
    color: #B3B6B7;
    padding: 10px 0 0 50px;
    font-size: 25px;
    font-weight: 400;
    
}
.follow-us .fa:hover
{
     cursor: pointer;
    color: #5DADE2;
}

.copyright
{
    float: right;
    
    margin: 20px 0 0 0;
    
    
}
.copyright p
{
    color: #7B7D7D;
    padding: 0 30px 0 0;
}
.policy
{
    float: right;
    margin: 35px 930px 0 0;
}
.policy a
{
    text-decoration: none;
    color: #F4F6F7;
    padding-left: 10px;
    
    
}
.policy a:hover{
    color: #5DADE2;
    cursor: pointer;
}
.something
{
    border: 2px solid red;
}
